KERNEL=="pvrsrvkm", SUBSYSTEM=="pvr", MODE="0777",GROUP="video"
KERNEL=="pvr_sync",SUBSYSTEM=="misc",MODE="0777",GROUP="video"
KERNEL=="ion",SUBSYSTEM=="misc",MODE="0777",GROUP="video"
KERNEL=="ashmem",SUBSYSTEM=="misc",MODE="0777",GROUP="video"
KERNEL=="CEC",SUBSYSTEM=="misc",MODE="0777",GROUP="video"
KERNEL=="binder",SUBSYSTEM=="misc",MODE="0777",GROUP="video"
KERNEL=="log_main",SUBSYSTEM=="misc",MODE="0777",GROUP="video"
KERNEL=="log_events",SUBSYSTEM=="misc",MODE="0777",GROUP="video"
KERNEL=="log_system",SUBSYSTEM=="misc",MODE="0777",GROUP="video"
KERNEL=="log_radio",SUBSYSTEM=="misc",MODE="0777",GROUP="video"
